{{ $extensions := list
     "redhat.vscode-yaml"
     "vscode-icons-team.vscode-icons"
     "Prisma.prisma"
     "GitHub.copilot"
     "esbenp.prettier-vscode"
     "dbaeumer.vscode-eslint"
     "bradlc.vscode-tailwindcss"
     "unifiedjs.vscode-mdx"
     "mikestead.dotenv"
     "naumovs.color-highlight"
     "eamodio.gitlens"
     "stkb.rewrap"
     "streetsidesoftware.code-spell-checker"
     "yzhang.markdown-all-in-one" -}}

#!/bin/bash

set -eufo pipefail

# Check if VS Code is installed
if ! command -v code >/dev/null 2>&1; then
  echo "VS Code is not installed. Skipping extension installation."
  exit 0
fi

{{ range $extensions -}}
code --install-extension {{ . }}
{{ end -}}