#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "jq"
     "pnpm" -}}
{{ $casks := list
     "spotify"
     "figma"
     "1password"
     "slack"
     "visual-studio-code"
     "zoom"
     "raycast"
     "postman"
     "monitorcontrol"
     "arc"
     "fork"
     "cron"
     "notion"
     "cleanshot"
     "nordvpn"
     "logi-options-plus"
     "karabiner-elements"
     "fig" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF